//Primary

$main-background: hsl(233, 47%, 7%);
$card-background: hsl(244, 38%, 16%);
$accent: hsl(277, 64%, 61%);

//Neutral

$main-heading-stats: hsl(0, 0%, 100%);
$main-paragraph: hsla(0, 0%, 100%, 0.75);
$stat-headings: hsla(0, 0%, 100%, 0.6);

$bg-violet: hsl(277deg, 100%, 50%, 0.42);

* {
  font-size: 15px;
  font-family: "Inter", sans-serif;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: $main-background;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  h1,
  h2 {
    color: $main-heading-stats;
  }
}

section {
  background-color: $card-background;
  border-radius: 1rem;
  max-width: 76rem;
  height: fit-content;
  display: flex;
  flex-direction: row;
}

.text-container {
  text-align: left;
  padding: 5.85rem 7.5rem 5.85rem 5.85rem;
  width: 50%;

  h1,
  span {
    font-size: 2.25rem;
    font-weight: 700;
  }

  h1 {
    margin-bottom: 1.5rem;
  }

  span {
    color: $accent;
  }

  .description {
    color: $main-paragraph;
    line-height: 1.5rem;
    margin-bottom: 5rem;
  }
}

.stats {
  ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
    letter-spacing: 1px;
  }

  li {
    display: flex;
    flex-direction: column;
    height: fit-content;
  }

  h2 {
    font-size: 1.55rem;
    font-weight: 700;
  }

  p {
    font-family: "Lexend Deca", sans-serif;
    color: $stat-headings;
    font-size: 12px;
    margin-top: 0.5rem;
  }
}

.img-container {
  display: flex;
  overflow: hidden;
  width: 50%;
  background-color: $accent;
  border-radius: 0 1rem 1rem 0;

  .hero {
    mix-blend-mode: multiply;
    border-radius: 0 1rem 1rem 0;
    opacity: 0.75;
  }
}

footer {
  position: absolute;
  bottom: 3vh;
  color: $stat-headings;

  a {
    text-decoration: none;
    color: $accent;
  }
}

@media only screen and (max-width: 750px) {
  section {
    max-width: 20rem;
    flex-direction: column-reverse;
  }

  .text-container {
    text-align: center;
    padding: 2rem;
    width: 100%;

    h1,
    span {
      font-size: 1.6rem;
    }

    .description {
      margin-bottom: 2rem;
      font-size: 14px;
    }
  }

  .stats {
    ul {
      flex-direction: column;
    }

    .templates {
      margin: 1.5rem 0;
    }

    h2 {
      font-size: 1.5rem;
    }
  }

  .img-container {
    border-radius: 1rem 1rem 0 0;
    width: 100%;

    .hero {
      border-radius: 1rem 1rem 0 0;
      width: 100%;
    }
  }

  footer {
    .attribution,
    a {
      font-size: 13px;
    }
  }
}
